<link rel="stylesheet" href="style.css">

<nav class="">
    <div class="logo-container">
        <a href="/" class="logo">
            <img src="img/logo.png" alt="">
        </a>
        <h2 style="color: #CC9600;">NETH <br> BOOKPOINT</h2>
    </div>
    <ul class="nav-list" id="nav-list">
        <li><a href="/chat">Chat</a></li>
        <li><a href="/uploadBook">AddBook</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/createUser">Create user</a></li>
        <li><a href="/adminDashboard">Dashboard</a></li>
        <li><a href="/getAllUsers">Users</a></li>
    </ul>
    <div id="handburger" onclick="toggleNav()">
        <img src="img/open-icon.png" alt="">
    </div>
    <form id="logout" class="logout" action="/logout" method="post" style="">
        <button type="submit" style="margin: auto;">Logout</button>
    </form>
</nav>
<script src="script2.js"></script>