<nav class="navbar background">
    <div class="logo-container" style="display: flex; align-items: center;">
        <a href="/" class="logo">
            <img src="img/logo.png" alt="">
        </a>
        <h2 style="color: #CC9600;">NETH <br> BOOKPOINT</h2>
    </div>
    <ul class="nav-list" id="nav-list">
        <li><a href="/chat">Chat</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/books">Library</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    <div id="handburger" onclick="toggleNav()">
        <img src="img/open-icon.png" alt="">
    </div>
    <form action="/logout" id="logout" class="logout" method="post">
        <button type="submit">Logout</button>
    </form>
</nav>
<script src="script2.js"></script>