<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="top">
        <%- include('partials/header'); %>
    </header>
    <main>
        <section id="one">
           <div #inside>
            <h2>The Book Lover's Dreamland Awaits!</h2>
            <p>
                Welcome to the ultimate book lover's paradise! Join our community and contribute to the
                ever-evolving
                library of stories, where every book has a chance to inspire someone new.</p>
        </div>
        </section>
        <section class="collection">
            <div >
                <img src="img/book-collection.png" alt="" srcset="">
            </div>
            <div class="inside-collection">
                <h3 style="color: #fff">Your favourite <span style="color: #CC9600;"> Reads <br>
                    Are Here! </span>
                </h3>
                <p id="insidep">
                    Buy your favorite books online with ease! Enjoy exclusive offers <br> and discounts on selected titles. Dive into our collection and find <br> special deals that make reading more affordable. Shop now and <br> unlock more savings with every purchase!
                </p>
                <div class="numbers">
                    <p>800+ <br>
                        Book Listing</p>
                    <p>1K+ <br>
                        Registered Members</p>
                    <p>50+ <br>
                        Branch Count</p>
                </div>
                <button>Explore More</button>
            </div>
        </section>
        
    </main>
    <footer class="top">
        <%- include('partials/footer'); %>
    </footer>
</body>

</html>